.recommendation{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.form{
    padding:40px;
    text-align: center;
    color:white;
    font-size:1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    & .title{
        padding:10px;
    }

    & .author{
        padding:10px;
    }

    & .imagen{
        padding:10px;
    }

    & .button{
        padding:10px;
        margin:20px;
        color:white;
        font-size: 1.5rem;
        border:solid 1px white;
        border-radius: 20px;
    }

    & .button:hover{
        color:rgb(104, 230, 140);
        border: solid 1px rgb(104, 230, 140);
    }
}

.input{
    border:solid 1px white;
    color:white;
    font-size: 0.75rem;
    font-weight: lighter;
    padding:10px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.109);;
}

@media screen and (max-width: 600px) {

    .recommendation{
    font-size: 1.2rem;
   
}
.form{
    padding:20px;
    font-size:1.25rem;
    display: flex;
    flex-direction: column;
    
    & .button{
        margin:15px;
        font-size: 1rem;
    }
}

}