<h4 class="recommendation">¿Quieres recomendarme un libro para mi librería?</h4>
<div class="form">
<label class="title">Título:</label>
<input class="input" #titulo placeholder="Introduce el título del libro"/>
<label class="author">Autor:</label>
<input class="input" #autor placeholder="Introduce el autor del libro"/>
<label class="imagen">Imagen:</label>
<input class="input" #imagen placeholder="Introduce la imagen del libro"/>
<button class="button" (click)="crearNuevoLibro(titulo.value, autor.value, imagen.value)">Enviar</button>
</div>